@import '../../../config/variables';

.container {
	margin: 0 auto;
	max-width: $container;
	padding-left: $distance;
	padding-right: $distance;
}

.text {
	max-width: $container-text;

	p {
		font-size: 18px !important;
		letter-spacing: -.003em !important;
		line-height: 1.58 !important;
		--baseline-multiplier: 0.179 !important;
		--x-height-multiplier: 0.35 !important;
	}
}
